@model frontEnd.Pages.IndexModel.TipoReparacion

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Model.Nombre</h5>
        <p class="card-text">Descripción detallada del servicio:</p>
        <p class="card-text">Aquí se mostrarían detalles específicos del servicio</p>
        <a href="#" class="btn btn-primary">Solicitar Servicio</a>
    </div>
</div>
